<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
	<style>
    li {
      padding: 10px;
      border: 1px solid #ccc;
      margin: 10px 0;
      background-color: #f5f5f5;
    }
    .cheap {
      background-color: #e1f7e1;
    }
    .expensive {
      background-color: #f7e1e1;
    }
    .selected {
      background-color: #ffc;
    }
  </style>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
    <h1>다양한 전시 정보</h1>
    <div>
      <!-- isSelected가 true인 전시들 -->
      <h3>관람 예정인 전시 : 
        <span v-show="selectedInfos.length>0">
          {{ selectedInfos }}
        </span>
        <span v-show="selectedInfos.length===0">
          관람 예정인 전시가 없습니다.
        </span>
      </h3>
      <p>예상 총 금액 : {{ totalPrice }} </p>
    </div>
    <h3 v-show="selectedInfos.length===0">관람 예정인 전시가 없습니다.</h3>
    <hr>

    <label for="isActive">전시 중인 정보만 보기</label>
    <input type="checkbox" id="isActive" v-model="isActive">
    <ul>
      <li v-for="(exhibition, idx) in (isActive ? isActiveExhibition : exhibitions)" :key="idx" :class="getClass(exhibition)">
        <div v-if="exhibition.isActive">
          <label for="isSelected">전시 관람 하기</label>
          <input type="checkbox" id="isSelected" v-model="exhibition.isSelected">
        </div>
        <div v-else style="color: red;">
          <p>전시가 종료되어 관람 할 수 없습니다.</p>
        </div>
        <h3>{{ exhibition.name }} </h3>
        <hr>
        <p>전시 장소: {{ exhibition.location }} </p>
        <p>가격 : {{ exhibition.price }} </p>
        <hr>
      </li>
    </ul>
  </div>

  <script>
    const { createApp, ref, computed, watch } = Vue

    const app = createApp({
      setup() {
        const isActive = ref(false)

        const exhibitions = ref([
          {
            name: '무라카미 다카시 : 무라카시좀비',
            location: '부산 시립 미술관',
            price: 1000,
            isActive: true,
            isSelected: false
          },
          {
            name: '마우라치오 카텔란 개인전',
            location: '리움 미술관',
            price: 30000,
            isActive: true,
            isSelected: false
          },
          {
            name: '조선백자전',
            location: '리움 미술관',
            price: 30000,
            isActive: true,
            isSelected: false
          },
          {
            name: '한국 실험미술 1960 - 1970',
            location: '국립현대미술관',
            price: 0,
            isActive: true,
            isSelected: false
          },
          {
            name: '에드워드 호퍼 : 길 위에서',
            location: '서울 시립 미술관',
            price: 1000,
            isActive: false,
            isSelected: false
          },
          {
            name: '알렉산더 칼더 x 이우환',
            location: '국제갤러리 서울점',
            price: 15000,
            isActive: false,
            isSelected: false
          }
        ])

        const isActiveExhibition = computed(() => {
          return exhibitions.value.filter(exhibition => exhibition.isActive)
        })

        function getClass (exhibition) {
          if (exhibition.isSelected) { return 'selected'}
          if (exhibition.price <= 5000) { return 'cheap'}
          if (exhibition.price >= 20000) { return 'expensive'}
          return ''
        }

        const selectedInfos = ref('')
        const totalPrice = ref(0)

        watch(exhibitions, () => {
          const filteredInfos = exhibitions.value.filter(exhibition => exhibition.isSelected)
          // 새로운 배열을 만들어 할당 map
          selectedInfos.value = filteredInfos.map(exhibition => exhibition.name).join(', ')
          totalPrice.value = filteredInfos.reduce((sum, exhibition) => sum + exhibition.price, 0)
        }, { deep: true })

        return {
          isActive,
          exhibitions,
          isActiveExhibition,
          getClass,
          selectedInfos,
          totalPrice,

        }
      }
    })
    app.mount('#app')
  </script>
</body>
</html>
